.func(@width; @style; @color) {
  border: @width @style @color;
}

#demo {
  .func(2px; dashed; red);
}

.mixin() {
  @bgcolor: #C0C0C0;
}
.myclass{
  .mixin();
  background-color: @bgcolor;
}